btop/btop.log
cava/shaders/bar_spectrum.frag
cava/shaders/northern_lights.frag
cava/shaders
zellij/layouts/work_everforest.kdl
zellij/layouts/work.kdl
zellij/layouts/work_sakura.kdl
zellij/config.kdl.bak
